body {
    background-image: url(backgroundfree.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 50px;
    font-family: 'Orelega One', cursive;
    letter-spacing: -1;
}

header {
    margin-top: 60px;
    width: 100%;
}
.menu-list {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    background: #ffc600;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-size: 20px;
    
}
.head-options {
    background-color: #ffc600;
    width: 206px;
    height: 30px;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0.5px 0.5px black;
    font-size: 20px;
}
.hero {
    background: url(tacos-main.jpg) no-repeat;
    grid-area: hero;
    min-height: 400px;
    background-size: cover;
    background-position: top;
    position: relative;
    min-height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.top {
    display: grid;
    /* grid-template-columns: 66% 33%; */
    grid-gap: 20px;
    grid-template-areas:
        "hero hero cta1"
        "hero hero cta2";
}
.cta {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    background: #ffc600;
}
.cta1 {
    grid-area: cta1;
}
.cta2 {
    grid-area: cta2;
}
.price-tacos {
    background-color: #ffc600;
    height: 190px;
}
.price-kombucha {
    margin-top: 20px;
    background-color: #ffc600;
    height: 190px;
}
h2 {
    position: relative;
    /* top: 30%; */
    text-align: center;
    font-size: 48px;
    font-weight: none;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, .top p  {
    background-color: #ffc600;
    width: fit-content;
    position: relative;
    padding: 5px;
    
}
h3 {
    margin: 10px 10px 10px 10px;
    font-weight: 300;
    padding: 10px;
    position: relative;
    /* top: 20%; */
    text-align: center;
    text-shadow: 2px;
}
.remain p {
    margin: 5px;
    top: 35%;
    text-align: center;
}

.more-options {
    margin-top: 20px;
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-gap: 20px;
    /* width: 1110px; */
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.options {
    background-color: aliceblue;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    font-size: 20px;
}
.options:hover {
    box-shadow: 0 1px 5px 1px #001F00;
}
.features {
    padding: 50px;
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
}
.highlights {
    /* width: 1170px; */
    background-color: aliceblue;
    min-height: 400px;
    background: url(tacos1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px 0 20px 0;
}
span, .highlights p, .button {
    width:fit-content;
    position: relative;
    font-size: 20px;
    text-shadow: 0.5px 0.5px;
    line-height: 1.6;
}
button {
    background-color: red;
}
.button {
    width:fit-content;
    padding: 10px 20px;
    text-shadow: none;
    background-color: #ffc600;
}
.line {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.line div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}


@media screen and (max-width: 1000px) {
    .nav-bar {
        perspective: 800px;
    }
    [aria-controls="menu-list"] {
        display: block;
        margin-bottom: 10px;
    }
    [aria-expanded="true"] {
        display: grid;
        max-height: 500px;
        transform: rotateX(0);
    }
}

@media screen and (max-width: 1200px) {
    
}