body {
    background-image: url(backgroundfree.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Orelega One', cursive;
    
}

header {
    margin-top: 60px;
    width: 100%;
}
.grid-header {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.head-options {
    background-color: #ffc600;
    width: 206px;
    height: 30px;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0.5px 0.5px black;
    font-size: 20px;
}
.main-image {
    background: url(tacos-main.jpg) no-repeat;
    background-position: top;
    margin-left: 50px;
    height: 400px;
    position: relative;
}
.top {
    display: grid;
    grid-template-columns: 66% 33%;
    margin-top: 40px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.remain {
    
    margin-right: 50px;
    position: relative;
    
}
.price-tacos {
    background-color: #ffc600;
    height: 190px;
}
.price-kombucha {
    margin-top: 20px;
    background-color: #ffc600;
    height: 190px;
}
h2 {
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 48px;
    font-weight: none;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, .top p  {
    background-color: #ffc600;
    width: fit-content;
    position: relative;
    padding: 5px;
    top: 40%;
    margin-left: 50px;
}
h3 {
    margin: 10px 10px 10px 10px;
    font-weight: 300;
    padding: 10px;
    position: relative;
    top: 20%;
    text-align: center;
    text-shadow: 2px;
}
.remain p {
    margin: 5px;
    top: 35%;
    text-align: center;
}

.more-options {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px;
    grid-column-gap: 20px;
    width: 1110px;
}
.options1, .options2, .options3, .options4 {
    background-color: aliceblue;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    font-size: 20px;
}
.highlights {
    width: 1170px;
    background-color: aliceblue;
    margin-left: 50px;
    height: 400px;
    background: url(tacos1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
span, .highlights p, .button {
    top: 30%;
    position: relative;
    margin-left: 30px;
    font-size: 20px;
    text-shadow: 0.5px 0.5px;
    line-height: 1.6;
}
.button {
    width:fit-content;
    padding: 5px;
    text-shadow: none;
    background-color: #ffc600;
}
.line {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 50px;
}
.line div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}
.instant {
    margin: 50px;
}